@import "../../common/sass/variables"

.project
  display: none

  &.active
    display: block

    .header
      padding: 85px 0
      background-size: cover
      background-repeat: no-repeat
      background-position: center
      position: relative

      &:before
        content: ""
        background-color: rgba($blue, .5)
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0

      .inner
        background-color: $blue
        padding: 25px 55px
        margin: 0 55px
        text-align: center
        position: relative
        box-shadow: 0 10px 30px -15px #000
        border-radius: 4px

    .main
      margin: 35px 0

    .footer
      h1
        text-align: center

      svg
        fill: $white

        &:hover
          fill: #fff

    .gallery
      display: flex
      flex-direction: column
      margin-top: 35px

      .onDisplay
        max-width: 100%
        text-align: center

        img
          width: 100%

          @media (min-width: 768px)
            width: 80%

        .controls
          width: 100%
          margin-top: 5px
          display: flex
          justify-content: space-between
          .btnLeft, .btnRight
            width: 45%
            padding: 15px 0
            border-radius: 4px
            background-color: $white
            display: flex
            justify-content: center
            align-items: center

            &:hover
              cursor: pointer
              background-color: rgba($white, .5)

              svg
                fill: $white

            svg
              fill: $black

          .btnLeft
            svg
              transform: rotate(180deg)

      .track
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        margin-top: 15px

        .img
          max-width: 33%
          opacity: .5

          &.active
            opacity: 1

          &:hover
            opacity: .8

