@import "../../common/sass/variables"

.ProjectHighlight
  color: $colorWhite
  background-color: rgba($colorBlue, .2)
  border-radius: 30px
  border: 1px solid $colorBlue
  padding: 15px 25px
  margin-bottom: 20px

  .container
    display: flex

    img
      height: 150px
      width: auto
      margin-right: 10px
      border-radius: 10px

    .info
      h2
        margin-bottom: 25px