@import "../../common/sass/variables"

.menu
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  height: 100%

  .back
    display: none
    transition: all .3s ease-in-out

  &.breadcrumb
    height: auto
    flex-direction: row
    position: absolute
    top: 0
    left: 0
    padding-left: 55px

    .back
      font-size: 1.2em
      background-color: $white
      border: 1px solid $white
      border-radius: 5px
      color: $black
      padding: 0 5px
      display: flex
      justify-content: center
      align-items: center
      max-height: 25px

      img
        max-width: 25px
        height: auto
        transition: all .3s ease-in-out

      &:hover
        cursor: pointer
        background-color: rgba($white, .8)

        img
          transform: translateX(-3px)


